// Sinigularity/Apptainer env config file
singularity.enabled = true
singularity.autoMounts = true

params {
    projectDir = '/home/jodiqiao/projects/github/ncov2019-artic-nf'
    singularityWork = "${params.projectDir}/work/singularity"
    overlayImg = "${params.singularityWork}/overlay.img"
}

// Singularity env config file
process {

    // Base Env Loading (Nanopore or Illumina)
    if ( params.medaka || params.nanopolish ) {
        container = "artic.sif"
    } // else if illumina env

    // Env Loading by Label
    withLabel: conda_extra {
        container = "extras.sif"
    }
    withLabel: conda_iridaupload {
        container = "irida_uploader.sif"
    }
    withLabel: nextclade {
        container = "nextclade.sif"
    }

    // Env Loading by Name
    withName: runNcovTools {
        container = "ncovtools.sif"
        containerOptions = '--fakeroot --overlay /home/jodiqiao/projects/github/ncov2019-artic-nf/work/singularity/overlay.img -B /home/jodiqiao:/home/jodiqiao'
    }
    withName: snpDists {
        container = "snpdist.sif"
    }

}
